/*

	Created by Tedy Warsitha (Codeorig.in)
	Email: tedy@codeorig.in

*/
/* MIXINS */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-logo_hoponhopoff, .icon-moln {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-logo_hoponhopoff:before {
  content: "\21"; }

.icon-moln:before {
  content: "\22"; }

.icon-logo_hoponhopoff {
  font-size: 80px;
  transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  /* Firefox 4 */
  -webkit-transition: font-size 0.2s;
  /* Safari and Chrome */
  -o-transition: font-size 0.2s;
  /* Opera */ }

@font-face {
  font-family: 'arrows';
  src: url("../fonts/arrows.eot");
  src: url("../fonts/arrows.eot?#iefix") format("embedded-opentype"), url("../fonts/arrows.woff") format("woff"), url("../fonts/arrows.ttf") format("truetype"), url("../fonts/arrows.svg#arrows") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'arrows';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-arrow-up, .icon-arrow-down, .icon-arrow-down-2, .icon-arrow-up-2, .icon-arrow-up-3, .icon-arrow-down-3 {
  font-family: 'arrows';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-arrow-up:before {
  content: "\21"; }

.icon-arrow-down:before {
  content: "\22"; }

.icon-arrow-down-2:before {
  content: "\23"; }

.icon-arrow-up-2:before {
  content: "\24"; }

.icon-arrow-up-3:before {
  content: "\25"; }

.icon-arrow-down-3:before {
  content: "\26"; }

[class^='sprite'] {
  background: url(../img/icons.png) no-repeat top left;
  margin: auto; }

.sprite-bus {
  background-position: 0 0;
  width: 46px;
  height: 38px; }

.sprite-flag {
  background-position: 0 -88px;
  width: 46px;
  height: 37px; }

.sprite-gesture {
  background-position: 0 -175px;
  width: 46px;
  height: 38px; }

.sprite-monument {
  background-position: 0 -263px;
  width: 46px;
  height: 38px; }

.sprite-smartphone {
  background-position: 0 -351px;
  width: 46px;
  height: 37px; }

.sprite-sun {
  background-position: 0 -438px;
  width: 46px;
  height: 37px; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body.transform {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  font-size: 14px;
  background: #ee2d24;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

a {
  color: #fde3e1;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  /* Firefox 4 */
  -webkit-transition: color 0.2s;
  /* Safari and Chrome */
  -o-transition: color 0.2s;
  /* Opera */ }

a:hover {
  color: #f58883; }

h1, h2, h3, h4, h5, h6 {
  color: white; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 14px; }

.row {
  position: relative; }

.align.center {
  text-align: center; }

.align.left {
  text-align: left; }

.align.right {
  text-align: right; }

.footerelements {
  background-image: url("../img/footer-elements.png");
  background-image: url("../img/footer-elements2x.png");
  background-repeat: repeat-x;
  height: 94px;
  height: 184px;
  width: 200%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99; }

.headerelements {
  height: 94px;
  float: left;
  width: 50%;
  margin: 20px 0; }
  .headerelements a {
    color: white!important;
    margin: 0 20px; }

.loader {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 1100;
  background: #ee2d24;
  text-align: center; }
  .loader .inner {
    display: table-cell;
    vertical-align: middle; }
  .loader h1 {
    margin: 40px auto;
    font-size: 24px; }
  .loader .rotator {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
    background: url(../img/loader.svg);
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto; }

.site-logo {
  background: url(../img/redbuseslogo.png);
  height: 115px;
  float: left;
  width: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  z-index: 1000; }
  @media all and (max-width: 767px) {
    .site-logo {
      width: 100%;
      height: 90px; } }

.loadlogo {
  width: 75%;
  max-width: 500px;
  height: auto;
  margin: 40px auto; }

.container {
  display: table;
  margin: 0 auto;
  height: 100%;
  width: 100%; }

.content {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%; }

.area {
  padding: 0 0 120px;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  /* Firefox 4 */
  -webkit-transition: opacity 1s;
  /* Safari and Chrome */
  -o-transition: opacity 1s;
  /* Opera */
  transition: top 0.5s;
  -moz-transition: top 0.5s;
  /* Firefox 4 */
  -webkit-transition: top 0.5s;
  /* Safari and Chrome */
  -o-transition: top 0.5s;
  /* Opera */ }
  @media all and (max-width: 767px) {
    .area {
      padding: 0 0 20px; } }

#site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: 20px 0;
  height: 160px; }
  #site-header .menu-item {
    display: inline;
    margin-right: 10px;
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase; }
    #site-header .menu-item a {
      display: inline-block;
      color: white;
      margin-top: 10px;
      padding: 5px 8px;
      background-color: #fe973b;
      background-image: -moz-linear-gradient(#fe973b, #f7592d);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe973b), to(#f7592d));
      background-image: -webkit-linear-gradient(#fe973b, #f7592d);
      background-image: -o-linear-gradient(#fe973b, #f7592d);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      transition: all 0.5s;
      -moz-transition: all 0.5s;
      /* Firefox 4 */
      -webkit-transition: all 0.5s;
      /* Safari and Chrome */
      -o-transition: all 0.5s;
      /* Opera */ }
    #site-header .menu-item a:hover {
      background-color: #feb26e;
      background-image: -moz-linear-gradient(#feb26e, #f9805e);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#feb26e), to(#f9805e));
      background-image: -webkit-linear-gradient(#feb26e, #f9805e);
      background-image: -o-linear-gradient(#feb26e, #f9805e); }
  #site-header .menu-item:last-child {
    margin-right: 0; }
  #site-header .menu-item.active a {
    background-color: #d26401;
    background-image: -moz-linear-gradient(#d26401, #b72d07);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d26401), to(#b72d07));
    background-image: -webkit-linear-gradient(#d26401, #b72d07);
    background-image: -o-linear-gradient(#d26401, #b72d07); }

.scrollbar {
  font-family: arrows;
  text-align: center;
  color: #ffa7be;
  font-size: 10px; }
  .scrollbar .top {
    height: 20px;
    width: 40px;
    background: #ff4172;
    top: 0;
    position: fixed;
    left: 50%;
    padding-bottom: 10px;
    margin-left: -15px;
    z-index: 200;
    -webkit-border-radius: 0 0 80px 80px;
    -moz-border-radius: 0 0 80px 80px;
    -ms-border-radius: 0 0 80px 80px;
    -o-border-radius: 0 0 80px 80px;
    border-radius: 0 0 80px 80px;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    /* Firefox 4 */
    -webkit-transition: opacity 0.5s;
    /* Safari and Chrome */
    -o-transition: opacity 0.5s;
    /* Opera */ }
  .scrollbar .bottom {
    padding-top: 10px;
    height: 20px;
    width: 40px;
    background: #ff4172;
    bottom: 0;
    position: fixed;
    left: 50%;
    margin-left: -15px;
    z-index: 200;
    -webkit-border-radius: 80px 80px 0 0;
    -moz-border-radius: 80px 80px 0 0;
    -ms-border-radius: 80px 80px 0 0;
    -o-border-radius: 80px 80px 0 0;
    border-radius: 80px 80px 0 0;
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    /* Firefox 4 */
    -webkit-transition: opacity 0.2s;
    /* Safari and Chrome */
    -o-transition: opacity 0.2s;
    /* Opera */ }

.site-title {
  font-size: 2em;
  font-weight: bold; }

#site-footer {
  left: 0;
  font-size: 10px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100; }

#site-footer .columns {
  margin: 20px 0; }

/* ribbon style */
.ribbon {
  width: 240px;
  position: fixed;
  text-align: center;
  font-size: 15px!important;
  background: #00aeef;
  right: -20px;
  bottom: 0;
  margin-bottom: 200px;
  z-index: 1000; }

.ribbon h1 {
  font-size: 15px!important;
  color: white;
  margin: 0px;
  padding: 15px 10px; }

.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #00aeef;
  z-index: -1; }

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px; }

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px; }

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #0089bc transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: ''; }

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em; }

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0; }

.ribbon-stitches-top {
  margin-top: 2px;
  border-top: 0px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5); }

.ribbon-stitches-bottom {
  margin-bottom: 2px;
  border-top: 0px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3); }

.ticket-container {
  width: 100%;
  overflow: hidden; }

.area.active .ticket-container {
  bottom: 200px; }
  @media all and (max-width: 767px) {
    .area.active .ticket-container {
      bottom: 100px; } }

.starburst {
  display: table;
  width: 13em;
  height: 13em;
  background: #00aeef;
  -webkit-transform: rotate(-84.6deg);
  -moz-transform: rotate(-84.6deg);
  rotation: -84.6deg;
  position: relative;
  margin: 7em auto 7em;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: Arial, sans-serif;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  /* Firefox 4 */
  -webkit-transition: background 0.2s;
  /* Safari and Chrome */
  -o-transition: background 0.2s;
  /* Opera */ }
  @media all and (max-width: 767px) {
    .starburst {
      width: 13em;
      height: 13em; } }

.starburst span {
  display: table-cell;
  width: 13em;
  height: 13em;
  background: #00aeef;
  -webkit-transform: rotate(5.6deg);
  -moz-transform: rotate(5.6deg);
  rotation: 5.6deg;
  vertical-align: middle;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  /* Firefox 4 */
  -webkit-transition: background 0.2s;
  /* Safari and Chrome */
  -o-transition: background 0.2s;
  /* Opera */ }
  @media all and (max-width: 767px) {
    .starburst span {
      width: 13em;
      height: 13em; } }

.starburst:hover {
  background: #bfdc7a; }
  .starburst:hover span {
    background: #bfdc7a; }

.section-container, .section-container.auto {
  border: none;
  color: #444444; }

.section-container.accordion section:first-child .title,
.section-container.accordion .section:first-child .title {
  -webkit-border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -ms-border-radius: 200px 200px 0 0;
  -o-border-radius: 200px 200px 0 0;
  border-radius: 200px 200px 0 0; }

.section-container.accordion .title,
.section-container.accordion .title {
  background-color: #00aeef;
  background-image: -moz-linear-gradient(#00aeef, #009bd5);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00aeef), to(#009bd5));
  background-image: -webkit-linear-gradient(#00aeef, #009bd5);
  background-image: -o-linear-gradient(#00aeef, #009bd5);
  border: none;
  font-weight: bold; }
  .section-container.accordion .title a,
  .section-container.accordion .title a {
    text-align: center;
    color: #003f56;
    position: relative; }

.section-container.accordion .content,
.section-container.accordion .content {
  background: #56d1ff;
  color: #d6f4ff; }
  .section-container.accordion .content ul,
  .section-container.accordion .content ul {
    font-size: 12px; }
  .section-container.accordion .content a,
  .section-container.accordion .content a {
    color: #006489; }
  .section-container.accordion .content a:hover,
  .section-container.accordion .content a:hover {
    color: #0089bc; }

.section-container.accordion section.active .title,
.section-container.accordion .section.active .title {
  background-color: #89dfff;
  background-image: -moz-linear-gradient(#89dfff, #89dfff);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#89dfff), to(#89dfff));
  background-image: -webkit-linear-gradient(#89dfff, #89dfff);
  background-image: -o-linear-gradient(#89dfff, #89dfff);
  border: none; }
  .section-container.accordion section.active .title a:after,
  .section-container.accordion .section.active .title a:after {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -24px;
    left: 0;
    background: -webkit-linear-gradient(transparent 50%, transparent 50%), -webkit-linear-gradient(135deg, #89dfff 33%, transparent 33%) 0 50%, -webkit-linear-gradient(45deg, #89dfff 33%, transparent 33%) 0 50%;
    background: linear-gradient(transparent 50%, transparent 50%), linear-gradient(-45deg, #89dfff 33%, transparent 33%) 0 50%, transparent linear-gradient(45deg, #89dfff 33%, transparent 33%) 0 50%;
    background-repeat: repeat-x;
    background-size: 1px 100%, 10px 10px, 10px 10px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg); }

.section-container.accordion section:last-child .title,
.section-container.accordion .section:last-child .title {
  -webkit-border-radius: 0 0 200px 200px;
  -moz-border-radius: 0 0 200px 200px;
  -ms-border-radius: 0 0 200px 200px;
  -o-border-radius: 0 0 200px 200px;
  border-radius: 0 0 200px 200px; }

.section-container.accordion section.active:last-child .title,
.section-container.accordion .section.active:last-child .title {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.section-container.accordion section:last-child .content:after,
.section-container.accordion .section:last-child .content:after {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: -25px;
  left: 0;
  background: -webkit-linear-gradient(transparent 50%, transparent 50%), -webkit-linear-gradient(135deg, #56d1ff 33%, transparent 33%) 0 50%, -webkit-linear-gradient(45deg, #56d1ff 33%, transparent 33%) 0 50%;
  background: linear-gradient(transparent 50%, transparent 50%), linear-gradient(-45deg, #56d1ff 33%, transparent 33%) 0 50%, linear-gradient(45deg, #56d1ff 33%, transparent 33%) 0 50%;
  background-repeat: repeat-x;
  background-size: 1px 100%, 10px 10px, 10px 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg); }

.section-container section,
.section-container .section,
.section-container.auto section,
.section-container.auto .section {
  border-top: none; }

.section-container section,
.section-container .section,
.section-container.auto section,
.section-container.auto .section {
  border-top: none; }

.section-container.tabs section .content,
.section-container.tabs .section .content {
  border: none;
  padding: 3em;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  z-index: 12; }
  .section-container.tabs section .content h1, .section-container.tabs section .content h2, .section-container.tabs section .content h3, .section-container.tabs section .content h4, .section-container.tabs section .content h5, .section-container.tabs section .content h6,
  .section-container.tabs .section .content h1,
  .section-container.tabs .section .content h2,
  .section-container.tabs .section .content h3,
  .section-container.tabs .section .content h4,
  .section-container.tabs .section .content h5,
  .section-container.tabs .section .content h6 {
    color: #444444; }

.section-container.tabs section .title,
.section-container.tabs .section .title {
  margin-left: 7em;
  -webkit-border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -ms-border-radius: 200px 200px 0 0;
  -o-border-radius: 200px 200px 0 0;
  border-radius: 200px 200px 0 0;
  z-index: 11;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  border: none; }

.section-container.tabs section:last-child .title,
.section-container.tabs .section:last-child .title {
  border-right: none; }

.section-container.tabs section:last-child .title,
.section-container.tabs .section:last-child .title {
  border-right: none; }

.section-container.tabs section .title {
  padding: 1.2em;
  padding-bottom: 0;
  background-color: #d2e7a2;
  background-image: -moz-linear-gradient(#d2e7a2, #bcd991);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d2e7a2), to(#bcd991));
  background-image: -webkit-linear-gradient(#d2e7a2, #bcd991);
  background-image: -o-linear-gradient(#d2e7a2, #bcd991); }

.section-container.tabs section .title a {
  padding-bottom: 0;
  padding: 1em;
  color: #577628; }

.section-container.tabs section.active .title {
  background-color: white!important;
  background-image: none!important; }

.section-container.tabs section.active .title a {
  color: #444444; }

.widget.panel {
  border: none;
  background: #fe973b;
  top: 20px;
  position: relative;
  -webkit-border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -ms-border-radius: 200px 200px 0 0;
  -o-border-radius: 200px 200px 0 0;
  border-radius: 200px 200px 0 0; }
  .widget.panel p {
    color: white; }
  .widget.panel h1, .widget.panel h2, .widget.panel h3, .widget.panel h4, .widget.panel h5, .widget.panel h6 {
    color: white; }
  .widget.panel ul {
    color: white; }
  .widget.panel a {
    color: white; }
  .widget.panel a:hover {
    color: #fe7c08; }

.widget.panel header {
  background: #fe973b;
  background-color: #fe9436;
  background-image: -moz-linear-gradient(#fe9436, #fe8417);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe9436), to(#fe8417));
  background-image: -webkit-linear-gradient(#fe9436, #fe8417);
  background-image: -o-linear-gradient(#fe9436, #fe8417);
  padding: 20px;
  margin-right: -4px;
  margin-left: -4px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -ms-border-radius: 200px 200px 0 0;
  -o-border-radius: 200px 200px 0 0;
  border-radius: 200px 200px 0 0; }
  @media all and (max-width: 767px) {
    .widget.panel header {
      margin-right: 5%;
      margin-left: 5%; } }

.widget.panel header h1, .widget.panel header h2, .widget.panel header h3, .widget.panel header h4, .widget.panel header h5, .widget.panel header h6 {
  color: white;
  margin-bottom: 0;
  font-size: 16px; }

.widget.panel section:after {
  content: "";
  width: 100%;
  height: 30px;
  background: #fe973b;
  position: absolute;
  bottom: -20px;
  left: 0;
  background: -webkit-linear-gradient(transparent 50%, transparent 50%), -webkit-linear-gradient(135deg, #fe973b 33%, transparent 33%) 0 50%, -webkit-linear-gradient(45deg, #fe973b 33%, transparent 33%) 0 50%;
  background: linear-gradient(transparent 50%, transparent 50%), linear-gradient(-45deg, #fe973b 33%, transparent 33%) 0 50%, linear-gradient(45deg, #fe973b 33%, transparent 33%) 0 50%;
  background-repeat: repeat-x;
  background-size: 1px 100%, 10px 10px, 10px 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg); }

ul.unstyled {
  list-style-type: none;
  margin-left: 0; }

.centered {
  text-align: center; }

.book-stockholm {
  margin-bottom: 40px; }

.flags {
  margin: 20px 0; }

.flag {
  background-size: contain;
  background-position: center;
  width: 48px;
  height: 48px;
  margin: auto; }

.flag.portugal {
  background-image: url(../img/icons/portugal.svg); }

.flag.russia {
  background-image: url(../img/icons/russia.svg); }

.flag.sweden {
  background-image: url(../img/icons/sverige.svg); }

.flag.england {
  background-image: url(../img/icons/england.svg); }

.flag.spain {
  background-image: url(../img/icons/espania.svg); }

.flag.finland {
  background-image: url(../img/icons/finlandia.svg); }

.flag.france {
  background-image: url(../img/icons/france.svg); }

.flag.germany {
  background-image: url(../img/icons/germany.svg); }

.flag.italy {
  background-image: url(../img/icons/italy.svg); }

.flag.japan {
  background-image: url(../img/icons/japan.svg); }

.flag.norway {
  background-image: url(../img/icons/norge.svg); }

.flag.china {
  background-image: url(../img/icons/china.svg); }

.flag.latvia {
  background-image: url(../img/icons/latvia.svg); }

.flag.denmark {
  background-image: url(../img/icons/denmark.svg); }

.icons small {
  font-size: 10px;
  line-height: 10px;
  color: #ee2d24; }

ul.resellers > li {
  height: 100px;
  font-size: 12px;
  margin-bottom: 20px; }
  @media all and (max-width: 767px) {
    ul.resellers > li {
      height: auto;
      text-align: center; }
      ul.resellers > li h2 {
        text-align: center; } }

@media all and (max-width: 767px) {
  section.resellers h2 {
    text-align: center; } }

#choose {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  margin: 20px;
  text-align: right;
  width: 25%; }

.magnify {
  position: relative; }

.magnify .magnified {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  display: none; }

.stockholm-map.magnified {
  background: url("../img/stockholm-map.jpg") no-repeat; }

.helsinki-map.magnified {
  background: url("../img/helsinki-map.jpg") no-repeat; }

.copenhagen-map.magnified {
  background: url("../img/copenhagen-map.jpg") no-repeat; }

.riga-map.magnified {
  background: url("../img/riga-map.jpg") no-repeat; }

.tallinn-map.magnified {
  background: url("../img/tallinn-map.jpg") no-repeat; }

.stp-map.magnified {
  background: url("../img/stp-map.jpg") no-repeat; }

.magnify .overview {
  display: block; }

.start {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; }

#map {
  min-height: 480px;
  height: 100%;
  width: 100%;
  padding: 0; }
