<section id="ålesund" class="area area-10 ålesund">
        <div class="row">
          <article class="large-8 columns">
              <div class="section-container responsive tabs" data-section="tabs">
              <section>
                <p class="title" data-section-title><a href="#">About</a></p>
                <div class="content" data-section-content>
                  <h1 class="centered">Ålesund</h1>
                  <ul class="small-block-grid-2">
                    <li><img src="img/alesund_redbuses_1.png"></li>
                    <li><img src="img/alesund_redbuses_2.png"></li>
                  </ul>
                  <ul class="small-block-grid-1">
                    <li><img src="img/alesund_redbuses_3.png"></li>
                  </ul>
                  <div class="row">
                    <div class="large-12 columns">
                    <p>Hop on hop off bus sightseeing in Ålesund, Norway. 10 stops including Aksla Viewpoint, Art Nouveau Centre, Sunnmøre Museum and Ålesund Aquarium.
                    </p>
                    <p>Traditional hop on hop off bus sightseeing following a fixed route to most interesting points of interest. High quality double decker buses focusing on safety, low energy consumption and low emissions. All buses are equipped with electronic guide system with eight languages based on GPS coordinates along the route. Tickets are sold online, on the bus, at the Tourist Information, in hotels and at the main cruise terminal. Payment in either NOK, EUR, USD or GBP.</p>
                    </div>
                  </div>
                  <ul class="flags large-block-grid-8 small-block-grid-2 centered icons">
                    <li><div class="flag russia"></div><small>Russian</small></li>
                    <li><div class="flag england"></div><small>English</small></li>
                    <li><div class="flag spain"></div><small>Spanish</small></li>
                    <li><div class="flag france"></div><small>French</small></li>
                    <li><div class="flag germany"></div><small>German</small></li>
                    <li><div class="flag italy"></div><small>Italian</small></li>
                    <li><div class="flag japan"></div><small>Japanese</small></li>
                    <li><div class="flag norway"></div><small>Norwegian</small></li>
                  </ul>
                  <ul class="small-block-grid-2 centered icons">
                    <li><div class="sprite-bus"></div><small>75 minutes beautiful sightseeing tour</small></li>
                    <li><div class="sprite-monument"></div><small>Spectacular views</small></li>
                    <li><div class="sprite-smartphone"></div><small>Free Wi-Fi onboard</small></li>
                    <li><div class="sprite-flag"></div><small>Commentaries in 8 languages</small></li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">Tickets</a></p>
                <div class="content" data-section-content>
                  <h2>Prices - 24 hour travel pass</h2>
                  <ul class="unstyled">
                    <li>EUR 27</li>
                    <li>Children: EUR 13,5</li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">The Tour</a></p>
                <div class="content" data-section-content>
                  <h2>Coming Soon</h2>
                </div>
              </section>
            </div>
          </article>
          <aside class="large-4 columns">
            <div class="widget panel">
              <header><h2>Contact</h2></header>
              <section class="centered widget-content">
                <ul class="unstyled">
                  <li>CitySightseeing Fjord AS | Blindheim Industriveg 4 | 6020 Ålesund </li>
                  <li>Phone: +47-7030-5185</li>
                  <li>Email: <a title="Email" href="mailto:trond@citysightseeingalesund.no">trond@citysightseeingalesund.no</a></li>
                </ul>
              </section>
            </div>
            <div class="ticket-container">
              <a href="https://office.instantticketing.com/pit/webshop/widget?route=610&locale=en&calendarType=2&theme=red&discount=TRUE&partner=&customerData=FALSE" class="starburst" onClick="javascript:pitWidgetBootPartner('610','en','2','red','TRUE','FALSE','');">
                 <span><span><span><span><span><span><span><span><span><span><span><span><span><span><span>
                    <h1>BUY TICKETS NOW!</h1>
                 </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
              </a>
            </div>
          </aside>  
        </div>
      </section>