/*

	Created by Tedy Warsitha (Codeorig.in)
	Email: tedy@codeorig.in

*/

/* MIXINS */

@mixin transition($type, $time) {
	transition: $type $time;
	-moz-transition: $type $time; /* Firefox 4 */
	-webkit-transition: $type $time; /* Safari and Chrome */
	-o-transition: $type $time; /* Opera */
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {	
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
	-o-shadow: $top $left $blur $color #{$inset};
}
@mixin border-radius($amount:"") {
	-webkit-border-radius: $amount;
	-moz-border-radius: $amount;
	-ms-border-radius: $amount;
	-o-border-radius: $amount;
	border-radius: $amount;
}

@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

// FONTS

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-logo_hoponhopoff, .icon-moln {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-logo_hoponhopoff:before {
	content: "\21";
}
.icon-moln:before {
	content: "\22";
}

.icon-logo_hoponhopoff{
	font-size:80px;
	@include transition(font-size, 0.2s);
}

@font-face {
	font-family: 'arrows';
	src:url('../fonts/arrows.eot');
	src:url('../fonts/arrows.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arrows.woff') format('woff'),
		url('../fonts/arrows.ttf') format('truetype'),
		url('../fonts/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'arrows';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-arrow-up, .icon-arrow-down, .icon-arrow-down-2, .icon-arrow-up-2, .icon-arrow-up-3, .icon-arrow-down-3 {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-up:before {
	content: "\21";
}
.icon-arrow-down:before {
	content: "\22";
}
.icon-arrow-down-2:before {
	content: "\23";
}
.icon-arrow-up-2:before {
	content: "\24";
}
.icon-arrow-up-3:before {
	content: "\25";
}
.icon-arrow-down-3:before {
	content: "\26";
}

// VARIABLES
	$color: #444;
	$gutter: 20px;
	$scrollbar: 20px;
	$footerh: 10px + $gutter*2;
	$red: #ee2d24;
	$darkred: darken($red, 10%);
	$pink: #ff4172;
	$orange: #fe973b;
	$darkorange: #f7592d;
	$green: #BFDC7A;
	$darkgreen: #8EBF45;
	$blue: #00AEEF;
	$darkblue : darken(#00AEEF, 10%);
//

// SPRITE

[class^='sprite'] {
	background: url(../img/icons.png) no-repeat top left;
	margin:auto;
}

.sprite-bus{ background-position: 0 0; width: 46px; height: 38px; } 
.sprite-flag{ background-position: 0 -88px; width: 46px; height: 37px; } 
.sprite-gesture{ background-position: 0 -175px; width: 46px; height: 38px; } 
.sprite-monument{ background-position: 0 -263px; width: 46px; height: 38px; } 
.sprite-smartphone{ background-position: 0 -351px; width: 46px; height: 37px; } 
.sprite-sun{ background-position: 0 -438px; width: 46px; height: 37px; }  

//ESSENTIAL

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

html { height:100%; width:100%; margin: 0; padding:0; }

body.transform {
	width:100%;
	height:100%;
	color:white;
	position: relative;
	font-size:14px;
	background:$red;
	margin:0;
	padding:0;
	overflow-x:hidden;
	overflow-y:scroll;
}

a {
	color:lighten($red, 40%);
	@include transition(color, 0.2s); 
}

a:hover {
	color:lighten($red, 20%);
}

h1, h2, h3, h4, h5, h6 {
	color:white;
}

h1 { font-size:30px;}
h2 { font-size:20px;}
h3 { font-size:16px;}
h4 { font-size:14px;}
h5 { font-size:14px;}
h6 { font-size:14px;}

.row {
	position: relative;
}

.align.center {
	text-align:center;
}

.align.left {
	text-align:left;
}

.align.right {
	text-align:right;
}

.footerelements {
	background-image: url("../img/footer-elements.png");
	background-image: url("../img/footer-elements2x.png");
	background-repeat:repeat-x;
	height:94px;
	height:184px;
	width:200%;
	position:fixed;
	bottom:0;
	left:0;
	z-index:99;
}

.headerelements {
	height:94px;
	float:left;
	width:50%;
	margin:$gutter 0 ;	

	a { color: white!important; margin:0 $gutter;}

}

.loader {
	position: absolute;
	display:table;
	width:100%;
	height:100%;
	z-index:1100;
	background:$red;
	text-align:center;

	.inner {
		display:table-cell;
		vertical-align: middle;
	}

	h1 {
		margin: $gutter*2 auto;
		font-size: 24px;
	}

	.rotator {
		-webkit-animation-name: spin;
		-webkit-animation-duration: 1000ms;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: spin;
		-moz-animation-duration: 1000ms;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-ms-animation-name: spin;
		-ms-animation-duration: 1000ms;
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;
		-o-transition: rotate(3600deg);
		background:url(../img/loader.svg);
		width:100px;
		height:100px;
		background-position:center;
		background-repeat:no-repeat;
		background-size:contain;
		margin:auto;
	}
}

.site-logo {
	background:url(../img/redbuseslogo.png);
	height:115px;
	float:left;
	width:25%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	margin:auto;
	z-index:1000;
	@media all and (max-width:767px) {
		width:100%;
		height: 90px;
	}	
}

.loadlogo {
	width: 75%;
	max-width: 500px;
	height: auto;
	margin: $gutter*2 auto;
}

.container {
	display:table;
	margin:0 auto;
	height:100%;
	width:100%;
}

.content {
	display:table-cell;
	vertical-align:middle;
	margin: 0 auto;
	width:100%;
}

.area {
	padding: 0 0 $gutter+$footerh*2;
	@include transition(opacity, 1s);
	@include transition(top, 0.5s);
	@media all and (max-width:767px) {
		padding: 0 0 $gutter;
	}
}

#site-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align:center;
	padding:$gutter 0;
	height:160px;

	.menu-item {
		display: inline;
		margin-right: $gutter*0.5;
		font-size: 10px;
		line-height: 16px;
		font-weight: bold;
		text-transform: uppercase;

		a {
			display: inline-block;
			color: white;
			margin-top: $gutter*0.5;
			padding:$gutter*0.25 $gutter*0.4;
			@include gradient($orange, $darkorange);
			@include border-radius($gutter*0.25);
			@include transition(all, 0.5s);
		}

		a:hover {
			@include gradient(lighten($orange, 10%), lighten($darkorange, 10%));
		}

	}
	.menu-item:last-child {
		margin-right: 0;
	}

	.menu-item.active{
		a {
			@include gradient(darken($orange, 20%), darken($darkorange, 20%));
		}

	}

}

.scrollbar {

	font-family:arrows;
	text-align:center;
	color:lighten($pink,20%);
	font-size:$scrollbar/2;

	.top {
		height:$scrollbar; 
		width:$scrollbar*2;
		background:$pink; 
		top:0;
		position: fixed;
		left:50%;
		padding-bottom: $scrollbar/2;
		margin-left:-$scrollbar*0.75;
		z-index: 200;
		@include border-radius(0 0 $scrollbar*4 $scrollbar*4);
		@include transition(opacity, 0.5s);
	}
	.bottom {
		padding-top: $scrollbar/2; 
		height:$scrollbar; 
		width:$scrollbar*2;
		background:$pink; 
		bottom:0;
		position: fixed;
		left:50%;
		margin-left:-$scrollbar*0.75;
		z-index: 200;
		@include border-radius($scrollbar*4 $scrollbar*4 0 0);
		@include transition(opacity, 0.2s);
	}

}

.site-title {
	font-size:2em;
	font-weight:bold;
}

#site-footer {
	left:0;
	font-size: 10px;
	text-align:center;
	color:white;
	position: fixed;
	bottom: 0;
	width:100%;
	z-index:100;
}

#site-footer .columns {
	margin:$gutter 0;
}

/* ribbon style */

.ribbon {
   width: 240px;
   position: fixed;
   text-align: center;
   font-size: 15px!important;
   background: $blue;
   right:-20px;
   bottom:0;
   margin-bottom:200px;
   z-index: 1000;
   }
.ribbon h1 {
   font-size: 15px!important;
   color: white;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid $blue;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   -moz-box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   box-shadow: rgba(000,000,000,0.4) 0px 0px 0px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   -moz-box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   box-shadow: rgba(000,000,000,0.4) -0px 0px 0px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: darken($blue,10%) transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 0px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 0px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.ticket-container {
	width:100%;
	overflow:hidden;
}

.area.active .ticket-container {
	bottom:200px;
	@media all and (max-width:767px) {
		bottom:100px;
	}
}

.starburst {
	display:table;
	width:13em;
	height:13em;
	background:$blue;
	-webkit-transform:rotate(-84.6deg);
	-moz-transform:rotate(-84.6deg);
	rotation:-84.6deg;
	position:relative;
	margin:7em auto 7em;
	text-align:center;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	font-family:Arial, sans-serif;
	@include transition(background, 0.2s);
	@media all and (max-width:767px) {
		width:13em;
		height:13em;	
	}
}
.starburst span {
	display:table-cell;
	width:13em;
	height:13em;
	background:$blue;
	-webkit-transform:rotate(5.6deg);
	-moz-transform:rotate(5.6deg);
	rotation:5.6deg;
	vertical-align:middle;
	@include transition(background, 0.2s);
	@media all and (max-width:767px) {
		width:13em;
		height:13em;	
	}
}

.starburst:hover {
	background:$green;
	span {background:$green;}
}

.section-container, .section-container.auto {
	border:none;
	color:$color;
}

.section-container.accordion section:first-child .title,
.section-container.accordion .section:first-child .title {
	@include border-radius($gutter*10 $gutter*10 0 0);
}

.section-container.accordion .title,
.section-container.accordion .title {
	@include gradient($blue ,lighten($darkblue, 5%));
	//border: 1px solid lighten($darkblue, 5%);
	border:none;
	font-weight:bold;
	a {
		text-align: center;
		color: darken($darkblue, 20%); 
		position: relative;
	}
}

.section-container.accordion .content,
.section-container.accordion .content {
	background:lighten($blue, 20%);
	color: lighten($blue, 45%);
	ul { font-size:12px;}
	a { color: darken($blue, 20%);}
	a:hover { color: darken($blue, 10%);}
}


.section-container.accordion section.active .title,
.section-container.accordion .section.active .title {
	@include gradient(lighten($blue, 30%) ,lighten($darkblue, 40%));
	border: none;
	a:after {
		content: "";
		width: 100%;
		height: 40px;
		position: absolute;
		bottom:-24px;
		left: 0;

		background: 
		-webkit-linear-gradient(transparent 50%, transparent 50%),
    	-webkit-linear-gradient(135deg, lighten($darkblue, 40%) 33%, transparent 33%) 0 50%, 
    	-webkit-linear-gradient(45deg, lighten($darkblue, 40%) 33%, transparent 33%) 0 50%;

		background: 
		linear-gradient(transparent 50%, transparent 50%),
	    linear-gradient(-45deg,  lighten($darkblue, 40%) 33%, transparent 33%) 0 50%, 
	    transparent linear-gradient(45deg,  lighten($darkblue, 40%) 33%, transparent 33%) 0 50%;

	   	background-repeat: repeat-x;
	   	background-size: 1px 100%, 10px 10px, 10px 10px;
	   	-webkit-transform: rotate(180deg);
		-moz-transform:    rotate(180deg);
		-ms-transform:     rotate(180deg);
		-o-transform:      rotate(180deg);
	}
}	

.section-container.accordion section:last-child .title,
.section-container.accordion .section:last-child .title {
	@include border-radius(0 0 $gutter*10 $gutter*10);
}

.section-container.accordion section.active:last-child .title,
.section-container.accordion .section.active:last-child .title{
	@include border-radius(0);
}

.section-container.accordion section:last-child .content:after,
.section-container.accordion .section:last-child .content:after {
	content: "";
	width: 100%;
	height: 40px;
	position: absolute;
	bottom:-25px;
	left: 0;

	background: 
	-webkit-linear-gradient(transparent 50%, transparent 50%),
    -webkit-linear-gradient(135deg, lighten($blue, 20%) 33%, transparent 33%) 0 50%, 
    -webkit-linear-gradient(45deg, lighten($blue, 20%) 33%, transparent 33%) 0 50%;

	background: 
	linear-gradient(transparent 50%, transparent 50%),
    linear-gradient(-45deg,  lighten($blue, 20%) 33%, transparent 33%) 0 50%, 
    linear-gradient(45deg,  lighten($blue, 20%) 33%, transparent 33%) 0 50%;

   	background-repeat: repeat-x;
   	background-size: 1px 100%, 10px 10px, 10px 10px;
   	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	-ms-transform:     rotate(180deg);
	-o-transform:      rotate(180deg);
}	

.section-container section,
.section-container .section,
.section-container.auto section,
.section-container.auto .section {
	border-top: none;
}

.section-container section,
.section-container .section,
.section-container.auto section,
.section-container.auto .section {
	border-top: none;
}

.section-container.tabs section .content,
.section-container.tabs .section .content {
	border: none;
	padding:3em;
	@include border-radius($gutter*4.5);
	z-index:12;
	h1, h2, h3, h4, h5, h6 {
		color:$color;
	}
}

.section-container.tabs section .title,
.section-container.tabs .section .title {
	margin-left:7em;
	@include border-radius($gutter*10 $gutter*10 0 0);
	z-index:11;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	border: none;
}

.section-container.tabs section:last-child .title,
.section-container.tabs .section:last-child .title {
	border-right: none;
}

.section-container.tabs section:last-child .title, 
.section-container.tabs .section:last-child .title {
	border-right: none;
}

.section-container.tabs section .title {
	padding:1.2em;
	padding-bottom:0;
	@include gradient(lighten($green, 10%) ,lighten($darkgreen, 20%));
	//border: none;
}

.section-container.tabs section .title a {
	padding-bottom:0;
	padding:1em;
	color: darken($darkgreen, 20%);
}

.section-container.tabs{
}

.section-container.tabs section.active .title {
	//margin-top: 0;
	background-color:white!important;
	background-image:none!important;
}

.section-container.tabs section.active .title a {
	color:$color;
}


.widget.panel {
	border:none;
	background:$orange;
	top:20px;
	position: relative;
	@include border-radius($gutter*10 $gutter*10 0 0);	
	p {color: white;}
	h1,h2,h3,h4,h5,h6 { color: white;}
	ul { color: white;}
	a { color: white;}
	a:hover { color: darken($orange, 10%);}
}

.widget.panel header {
	background: $orange;
	@include gradient(darken($orange, 1%) ,darken($orange, 7%));
	padding:$gutter;;
	margin-right: -$gutter*0.2;
	margin-left: -$gutter*0.2;
	margin-bottom:$gutter;
	text-align:center;
	@include border-radius($gutter*10 $gutter*10 0 0);	

	@media all and (max-width:767px) {
		margin-right: 5%;
		margin-left: 5%;	
	}

}

.widget.panel header  {
	h1,h2,h3,h4,h5,h6 {
		color: white;
		margin-bottom: 0;
		font-size: 16px;
	}

}

.widget.panel section:after {
	content: "";
	width: 100%;
	height: 30px;
	background: $orange;
	position: absolute;
	bottom:-20px;
	left: 0;

	background: 
	-webkit-linear-gradient(transparent 50%, transparent 50%),
    -webkit-linear-gradient(135deg, $orange 33%, transparent 33%) 0 50%, 
    -webkit-linear-gradient(45deg, $orange 33%, transparent 33%) 0 50%;

	background: 
	linear-gradient(transparent 50%, transparent 50%),
    linear-gradient(-45deg, $orange 33%, transparent 33%) 0 50%, 
    linear-gradient(45deg, $orange 33%, transparent 33%) 0 50%;

   	background-repeat: repeat-x;
   	background-size: 1px 100%, 10px 10px, 10px 10px;
   	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	-ms-transform:     rotate(180deg);
	-o-transform:      rotate(180deg);
}

ul.unstyled {
	list-style-type: none;
	margin-left:0;
}

.centered {
	text-align:center;
}

.book-stockholm {
	margin-bottom:$gutter*2;
}

.flags {
	margin:$gutter 0;
}

.flag {
	background-size:contain;
	background-position:center;
	width:48px;
	height:48px;
	margin:auto;
}

.flag.portugal{
	background-image:url(../img/icons/portugal.svg);
}

.flag.russia{
	background-image:url(../img/icons/russia.svg);
}

.flag.sweden{
	background-image:url(../img/icons/sverige.svg);
}

.flag.england{
	background-image:url(../img/icons/england.svg);
}

.flag.spain{
	background-image:url(../img/icons/espania.svg);
}

.flag.finland{
	background-image:url(../img/icons/finlandia.svg);
}

.flag.france{
	background-image:url(../img/icons/france.svg);
}

.flag.germany{
	background-image:url(../img/icons/germany.svg);
}

.flag.italy{
	background-image:url(../img/icons/italy.svg);
}

.flag.japan{
	background-image:url(../img/icons/japan.svg);
}
.flag.norway{
	background-image:url(../img/icons/norge.svg);
}

.flag.china{
	background-image:url(../img/icons/china.svg);
}

.flag.latvia{
	background-image:url(../img/icons/latvia.svg);
}

.flag.denmark{
	background-image:url(../img/icons/denmark.svg);
}

.icons small {
	font-size:10px;
	line-height:10px;
	color:$red;
}

ul.resellers > li {
	height:100px;
	font-size: 12px;
	margin-bottom: $gutter;
	@media all and (max-width:767px) { 
		height:auto;
		text-align:center;
		h2 { text-align:center;}
	}
}

section.resellers h2 {
	@media all and (max-width:767px) { 
		text-align:center;
	}
}

#choose {
	position:absolute;
	right:0;
	top:0;
	z-index:1000;
	margin:$gutter;
	text-align:right;
	width:25%;
}

#s-w-iframe {

}

// MAGNIFIER

.magnify {position: relative;}
.magnify .magnified {
	width: 300px; height: 300px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	display: none;
}

.stockholm-map.magnified {
	background: url('../img/stockholm-map.jpg') no-repeat;
}
.helsinki-map.magnified {
	background: url('../img/helsinki-map.jpg') no-repeat;

}
.copenhagen-map.magnified {
	background: url('../img/copenhagen-map.jpg') no-repeat;
}
.riga-map.magnified {
	background: url('../img/riga-map.jpg') no-repeat;
}
.tallinn-map.magnified {
	background: url('../img/tallinn-map.jpg') no-repeat;
}


.stp-map.magnified {
	background: url('../img/stp-map.jpg') no-repeat;
}

.magnify .overview  {display:block;}

// MAP

.start {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	position: absolute;
	top:0;
	left:0;
	z-index:5;
	
}

#map {
	min-height:480px;
	height:100%;
	width:100%;
	padding:0;
}