<section id="copenhagen" class="area area-2 copenhagen">
        <div class="row">
          <article class="large-8 columns">
              <div class="section-container responsive tabs" data-section="tabs">
              <section>
                <p class="title" data-section-title><a href="#">About</a></p>
                <div class="content" data-section-content>
                  <h1 class="centered">Copenhagen</h1>
                  <div class="row">
                    <div class="large-12 columns">
                    <ul class="small-block-grid-1">
                      <li><img src="img/copenhagen_redbuses_1.jpg"></li>
                    </ul>
                    <p>Discover the beautiful city of Copenhagen with Copenhagen Red Buses in Open Air Double-Decker buses! Hop on and off as much as you like at any of our conveniently located stops around the city.</p>
                    <p>Discover the beautiful city of Copenhagen with Copenhagen Red Buses in Open Air Double-Decker buses! Hop on and off as much as you like at any of our conveniently located stops around the city. Explore the city’s must-see attractions and activities at your own pace!. The travel pass is valid for 24 hours, allowing you to plan your own itinerary and getting the most out of your Hop-on Hop-Off experience.
                    The tour is entertaining and informative with digitally recorded commentaries in 8 languages – ideal for tourists from all over the world!</p>
                    </div>
                  </div>
                  <ul class="flags large-block-grid-8 small-block-grid-2 centered icons">
                        <li><div class="flag russia"></div><small>Russian</small></li>
                        <li><div class="flag england"></div><small>English</small></li>
                        <li><div class="flag spain"></div><small>Spanish</small></li>
                        <li><div class="flag france"></div><small>French</small></li>
                        <li><div class="flag germany"></div><small>German</small></li>
                        <li><div class="flag italy"></div><small>Italian</small></li>
                        <li><div class="flag japan"></div><small>Japanese</small></li>
                        <li><div class="flag norway"></div><small>Norwegian</small></li>
                      </ul>
                  <ul class="small-block-grid-2 centered icons">
                    <li><div class="sprite-bus"></div><small>80 minutes beautiful sightseeing tour</small></li>
                    <li><div class="sprite-monument"></div><small>Spectacular views</small></li>
                    <li><div class="sprite-smartphone"></div><small>Free Wi-Fi onboard</small></li>
                    <li><div class="sprite-flag"></div><small>Commentaries in 8 languages</small></li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">Tickets</a></p>
                <div class="content" data-section-content>
                  <h2>Prices - 24 hour travel pass</h2>
                  <ul class="unstyled">
                    <li>EUR 25</li>
                    <li>Children: Children up to 12 for free when traveling with paying adult.</li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">The Tour</a></p>
                <div class="content" data-section-content>
                  <h2>Use our magnifier to inspect the map!</h2>
                  <p>You can also download the full size version of the map <a href="img/copenhagen-map.jpg" title="Stops">here</a> for a better view.</p>
                  <div class="magnify">
                    <div class="magnified copenhagen-map"></div>
                    <img class="overview" src="img/copenhagen-map.jpg" />
                  </div>
                </div>
              </section>
            </div>
          </article>
          <aside class="large-4 columns">
            <div class="widget panel">
              <header><h2>Contact</h2></header>
              <section class="centered widget-content">
                <ul class="unstyled">
                  <li>Red City Buses Denmark ApS | Østre Teglgade 2 | 2450 København SV </li>
                  <li>Phone: + 4531344412</li>
                  <li>Email: <a title="Email" href="mailto:copenhagen@redbuses.com">copenhagen@redbuses.com</a></li>
                </ul>
              </section>
            </div>
            <div class="ticket-container">
              <a href="https://office.instantticketing.com/pit/webshop/widget?route=612&locale=en&calendarType=2&theme=red&discount=TRUE&partner=&customerData=FALSE" class="starburst" onClick="javascript:pitWidgetBootPartner('612','en','2','red','TRUE','FALSE','');">
                 <span><span><span><span><span><span><span><span><span><span><span><span><span><span><span>
                    <h1>BUY TICKETS NOW!</h1>
                 </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
              </a>
            </div> 
          </aside>
      </section>