<section id="helsinki" class="area area-3 helsinki">
        <div class="row">
          <article class="large-8 columns">
              <div class="section-container responsive tabs" data-section="tabs">
                <section>
                <p class="title" data-section-title><a href="#">About</a></p>
                <div class="content" data-section-content>
                  <h1 class="centered">Helsinki</h1>
                  <div class="row">
                    <div class="large-12 columns">
                      <p>Best sights and stories  Welcome to Helsinki! We invite you to join us for the ultimate Hop On Hop Off sightseeing in Helsinki! We show you the best sights of the city and you will hear the true Story of Helsinki. You can hop on and off as much as you please. Enjoy the tour and our beautiful city!</p>
                      <p>You will enjoy excellent views from our double-decker buses. Extensive Multilingual Audio Guide through individual head phones. Guided in 10 languages:</p>
                    </div>
                  </div>
                  <ul class="flags large-block-grid-5 small-block-grid-2 centered icons">
                        <li><div class="flag russia"></div><small>Russian</small></li>
                        <li><div class="flag england"></div><small>English</small></li>
                        <li><div class="flag spain"></div><small>Spanish</small></li>
                        <li><div class="flag france"></div><small>French</small></li>
                        <li><div class="flag germany"></div><small>German</small></li>
                        <li><div class="flag italy"></div><small>Italian</small></li>
                        <li><div class="flag japan"></div><small>Japanese</small></li>
                        <li><div class="flag finland"></div><small>Finnish</small></li>
                        <li><div class="flag sweden"></div><small>Swedish</small></li>
                        <li><div class="flag china"></div><small>Chinese</small></li>
                      </ul>
                  <ul class="small-block-grid-2 centered icons">
                    <li><div class="sprite-bus"></div><small>80 minutes beautiful sightseeing tour</small></li>
                    <li><div class="sprite-monument"></div><small>Spectacular views</small></li>
                    <li><div class="sprite-smartphone"></div><small>Free Wi-Fi onboard</small></li>
                    <li><div class="sprite-flag"></div><small>Commentaries in 8 languages</small></li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">Tickets</a></p>
                <div class="content" data-section-content>
                  <h2>Prices - 24 hour travel pass</h2>
                  <ul class="unstyled">
                    <li>EUR 25</li>
                    <li>Children: Children up to 16 for free when traveling with paying adult.</li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">The Tour</a></p>
                <div class="content" data-section-content>
                  <h1 class="centered">Helsinki</h1>
                  <h2>Use our magnifier to inspect the map!</h2>
                  <p>You can also download the full size version of the map <a href="img/helsinki-map.jpg" title="Stops">here</a> for a better view.</p>
                  <div class="magnify">
                    <div class="magnified helsinki-map"></div>
                    <img class="overview" src="img/helsinki-map.jpg" />
                  </div>
                </div>
              </section>
            </div>
          </article>
          <aside class="large-4 columns">
            <div class="widget panel">
              <header><h2>Contact</h2></header>
              <section class="centered widget-content">
                <ul class="unstyled">
                  <li>CityTour, <a href="mailto:info@citytour.fi" title="Email">info@citytour.fi</a></li>
                  <li>Phone: +358 207 118 338</li>
                  <li>Address: Pohjoisranta 4, 00170 Helsinki</li>
                </ul>
              </section>
            </div>
            <div class="ticket-container">
              <a href="https://office.instantticketing.com/pit/webshop/widget?route=603&locale=en&calendarType=2&theme=red&discount=TRUE&partner=&customerData=FALSE" class="starburst" onClick="javascript:pitWidgetBootPartner('603','en','2','red','TRUE','FALSE','');">
                 <span><span><span><span><span><span><span><span><span><span><span><span><span><span><span>
                    <h1>BUY TICKETS NOW!</h1>
                 </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
              </a>
            </div>
          </aside>  
        </div>
        
      </section>