<section id="riga" class="area area-5 riga">
        <div class="row">
          <article class="large-8 columns">
              <div class="section-container responsive tabs" data-section="tabs">
              <section>
                <p class="title" data-section-title><a href="#">About</a></p>
                <div class="content" data-section-content>
                  <h1 class="centered">Riga</h1>
                  <div class="row">
                    <div class="large-12 columns">
                    <p>Audio - guided Riga City Sightseeing on red double-decker busses. The hop-on hop off service. The excursion ticket is valid for 48 hours. The audio guide texts have been recorded in nine languages.</p>
                    <p>Welcome to riga!
                    Explore our won derful city
                    by Riga City Tour red bus!
                    Come and enjoy sightseeing on both sides of the
                    Daugava River in Riga on red double-decker busses. The
                    excursion ticket is valid for 48 hours and during that time
                    you can get on or off the bus as many times as you wish.
                    The hop-on hop-off service offers a flexible opportunity
                    to get to know historic and present day Riga. The audio
                    guide texts, heard through the headphones, have been
                    recorded by native speakers in nine languages: English,
                    German, French, Spanish, Russian, Finnish, Swedish, Latvian, Italian</p>
                    </div>
                  </div>
                  <ul class="flags large-block-grid-10 small-block-grid-2 centered icons">
                        <li><div class="flag russia"></div><small>Russian</small></li>
                        <li><div class="flag sweden"></div><small>Swedish</small></li>
                        <li><div class="flag england"></div><small>English</small></li>
                        <li><div class="flag spain"></div><small>Spanish</small></li>
                        <li><div class="flag finland"></div><small>Finnish</small></li>
                        <li><div class="flag france"></div><small>French</small></li>
                        <li><div class="flag germany"></div><small>German</small></li>
                        <li><div class="flag italy"></div><small>Italian</small></li>
                        <li><div class="flag norway"></div><small>Norwegian</small></li>
                        <li><div class="flag latvia"></div><small>Latvian</small></li>
                  </ul>
                  <ul class="small-block-grid-2 centered icons">
                    <li><div class="sprite-bus"></div><small>80 minutes beautiful sightseeing tour</small></li>
                    <li><div class="sprite-monument"></div><small>Spectacular views</small></li>
                    <li><div class="sprite-smartphone"></div><small>Free Wi-Fi onboard</small></li>
                    <li><div class="sprite-flag"></div><small>Commentaries in 10 languages</small></li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">Tickets</a></p>
                <div class="content" data-section-content>
                  <h2>Prices - 24 hour travel pass</h2>
                  <ul class="unstyled">
                    <li>EUR 15</li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">The Tour</a></p>
                <div class="content" data-section-content>
                  <h2>Use our magnifier to inspect the map!</h2>
                  <p>You can also download the full size version of the map <a href="img/riga-map.jpg" title="Stops">here</a> for a better view.</p>
                  <div class="magnify">
                    <div class="magnified riga-map"></div>
                    <img class="overview" src="img/riga-map.jpg" />
                  </div>
                </div>
              </section>
            </div>
          </article>
          <aside class="large-4 columns">
            <div class="widget panel">
              <header><h2>Contact</h2></header>
              <section class="centered widget-content">
                <ul class="unstyled">
                  <li>Hansabuss Latvia SIA Bieķensalas street 5, Riga, Latvia, LV - 1004 </li>
                  <li><a href="mailto:riga@hansabuss.eu">riga@hansabuss.eu</a></li>
                </ul>
              </section>
            </div>
            <div class="ticket-container">
              <a href="https://office.instantticketing.com/pit/webshop/widget?route=611&locale=en&calendarType=2&theme=red&discount=TRUE&partner=&customerData=FALSE" class="starburst" onClick="javascript:pitWidgetBootPartner('611','en','2','red','TRUE','FALSE','');">
                 <span><span><span><span><span><span><span><span><span><span><span><span><span><span><span>
                    <h1>BUY TICKETS NOW!</h1>
                 </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
              </a>
            </div>
          </aside>
           
      </section>