<section id="st-petersburg" class="area area-6 st-petersburg">
        <div class="row">
          <article class="large-8 columns">
              <div class="section-container responsive tabs" data-section="tabs">
              <section>
                <p class="title" data-section-title><a href="#">About</a></p>
                <div class="content" data-section-content>
                  <h1 class="centered">St Petersburg</h1>
                  <ul class="small-block-grid-1">
                    <li>
                      <img src="img/stp_redbuses_1.jpg" title="St Petersburg" />
                    </li>
                  </ul>
                  <div class="row">
                    <div class="large-12 columns">
                      <p>The route is operated by 6 unique in Russia red double-deckers specially designed by VOLVO, three of which are roofless and are used only during the summer time, from the middle of April to October to be exact.</p>
                      <p>The rest three City Tour buses operate all the year round and are fully panoramic.</p>

                      <p>There are 70 places in City Tour double-decker, 53 of which are on the second story and 17 places are on the first one. Due to the large capacity you can always find a free place for yourself. All the City Tour buses are specially equipped with ramps for disabled people.</p>

                      <p>Those modern double-deckers enable you to enjoy St.Petersburg views from height and are equipped with up-to-date audiosystem. Moreover, it’s both exciting and comfortable to travel with our bus no matter what the weather is.</p>
                      <ul class="flags large-block-grid-10 small-block-grid-2 centered icons">
                        <li><div class="flag russia"></div><small>Russian</small></li>
                        <li><div class="flag sweden"></div><small>Swedish</small></li>
                        <li><div class="flag england"></div><small>English</small></li>
                        <li><div class="flag spain"></div><small>Spanish</small></li>
                        <li><div class="flag finland"></div><small>Finnish</small></li>
                        <li><div class="flag france"></div><small>French</small></li>
                        <li><div class="flag germany"></div><small>German</small></li>
                        <li><div class="flag italy"></div><small>Italian</small></li>
                        <li><div class="flag japan"></div><small>Japanese</small></li>
                        <li><div class="flag china"></div><small>Chinese</small></li>
                      </ul>
                      <ul class="small-block-grid-2 centered icons">
                        <li><div class="sprite-bus"></div><small>90 hour beautiful sightseeing tour</small></li>
                        <li><div class="sprite-monument"></div><small>Spectacular views</small></li>
                        <li><div class="sprite-smartphone"></div><small>Free Wi-Fi onboard</small></li>
                        <li><div class="sprite-flag"></div><small>Commentaries in 10 languages</small></li>
                      </ul>  
                    </div>
                  </div>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">Tickets</a></p>
                <div class="content" data-section-content>
                  <h2>Prices - 24 hour travel pass</h2>
                  <ul class="unstyled">
                    <li>EUR 13</li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">The Tour</a></p>
                <div class="content" data-section-content>
                  <h2>Coming Soon</h2>
                </div>
              </section>
            </div>
          </article>
          <aside class="large-4 columns">
            <div class="widget panel">
              <header><h2>Contact</h2></header>
              <section class="centered widget-content">
                <ul class="unstyled">

                  <li>Russian Federation, 194044, Saint-Petersburg Pirogovskaya Embankment, 7</li>
                  <li>Phone: +7(812)718-47-69</li>
                  <li>Bus schedule questions: +7(961)8000-755</li>
                  <li><a href="mailto:marinak@baltic.spb.ru">marinak@baltic.spb.ru</a></li>
                </ul>
              </section>
            </div>
            <div class="ticket-container">
              <a href="https://office.instantticketing.com/pit/webshop/widget?route=627&locale=en&calendarType=2&theme=red&discount=TRUE&partner=&customerData=FALSE" class="starburst" onClick="javascript:pitWidgetBootPartner('627','en','2','red','TRUE','FALSE','');">
                 <span><span><span><span><span><span><span><span><span><span><span><span><span><span><span>
                    <h1>BUY TICKETS NOW!</h1>
                 </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
              </a>
            </div>
          </aside>  
        </div>
      </section>