<section id="start" class="area area-0 start">
  <div id="choose" class="hide-for-small">
    <h1>Choose your destination!</h1>
    <p id="shortdescription">
      Explore the city in red open top double decker sightseeing buses
    </p>
  </div>
  <div id="map"></div>
</section>