<section id="stockholm" class="area area-1 stockholm">
  <div class="row">
    <article class="large-8 columns">
        <div class="section-container responsive tabs" data-section="tabs">
        <section>
          <p class="title" data-section-title><a href="#">About</a></p>
          <div class="content" data-section-content>
            <h1 class="centered">Stockholm</h1>
            <ul class="small-block-grid-2">
              <li><img src="img/redbuses_1.jpg"></li>
              <li><img src="img/redbuses_2.jpg"></li>
            </ul>
            <ul class="small-block-grid-1">
              <li><img src="img/redbuses_3.jpg"></li>
            </ul> 
            <div class="row">
              <div class="large-6 columns">
              <p>Discover the beautiful city of Stockholm with Stockholm Red Buses in Open Air Double-Decker buses! Hop on and off as much as you like at any of our over 20 conveniently located stops around the city.</p>
              <p>We know Stockholm and our tour is one of the easiest and most affordable ways to explore the city’s must-see attractions and activities at your own pace!</p>
              </div>
              <div class="large-6 columns">
              <p>The travel pass is valid for 24 hours, allowing you to plan your own itinerary and getting the most out of your Hop-on Hop-Off experience with Stockholm Red Buses.</p>
              <p>The tour is entertaining and informative with digitally recorded commentaries in 12 languages – ideal for tourists from all over the world! All passengers receive new headphones the first time they use their tickets.</p>
              </div>
            </div>
            <ul class="flags large-block-grid-6 small-block-grid-2 centered icons">
              <li><div class="flag portugal"></div><small>Portuguese</small></li>
              <li><div class="flag russia"></div><small>Russian</small></li>
              <li><div class="flag sweden"></div><small>Swedish</small></li>
              <li><div class="flag england"></div><small>English</small></li>
              <li><div class="flag spain"></div><small>Spanish</small></li>
              <li><div class="flag finland"></div><small>Finnish</small></li>
              <li><div class="flag france"></div><small>French</small></li>
              <li><div class="flag germany"></div><small>German</small></li>
              <li><div class="flag italy"></div><small>Italian</small></li>
              <li><div class="flag japan"></div><small>Japanese</small></li>
              <li><div class="flag norway"></div><small>Norwegian</small></li>
              <li><div class="flag china"></div><small>Chinese</small></li>
            </ul>
            <ul class="small-block-grid-2 centered icons">
              <li><div class="sprite-bus"></div><small>90 minutes beautiful sightseeing tour</small></li>
              <li><div class="sprite-monument"></div><small>Spectacular views</small></li>
              <li><div class="sprite-smartphone"></div><small>Free Wi-Fi onboard</small></li>
              <li><div class="sprite-flag"></div><small>Commentaries in 12 languages</small></li>
              <li><div class="sprite-sun"></div><small>24-hour use of the pass</small></li>
              <li><div class="sprite-gesture"></div><small>Buses run daily every 20 minutes</small></li>
            </ul>
          </div>
        </section>
        <section class="centered">
          <p class="title" data-section-title><a href="#">Tickets</a></p>
          <div class="content" data-section-content>
            <h2>Prices - 24 hour travel pass</h2>
            <ul class="unstyled">
              <li>EUR 30</li>
              <li>Children: Children up to 12 for free when traveling with paying adult.</li>
            </ul>
          </div>
        </section>
        <section class="centered">
          <p class="title" data-section-title><a href="#">The Tour</a></p>
          <div class="content" data-section-content>
            <h2>Use our magnifier to inspect the map!</h2>
            <p>You can also download the full size version of the map <a href="img/stockholm-map.jpg" title="Stops">here</a> for a better view.</p>
            <div class="magnify">
              <div class="magnified stockholm-map"></div>
              <img class="overview" src="img/stockholm-map.jpg" />
            </div>
          </div>
        </section>
      </div>
    </article>
    <aside class="large-4 columns">
      <div class="widget panel">
        <header><h2>Contact</h2></header>
        <section class="centered widget-content">
          <ul class="unstyled">
            <li>Red City Buses AB | Box 7175 | 103 88 Stockholm </li>
            <li>Phone: + 46 (0) 8 555 103 90</li>
            <li>Mail: <a href="mailto:info@redbuses.se" title="Mail">info@redbuses.se</a></li>
          </ul>
        </section>
      </div>
        <div class="ticket-container">
      <a href="https://office.instantticketing.com/pit/webshop/widget?route=608&locale=en&calendarType=2&theme=red&discount=TRUE&partner=&customerData=FALSE" class="starburst" onClick="javascript:pitWidgetBootPartner('608','en','2','red','TRUE','FALSE','');">
        <span><span><span><span><span><span><span><span><span><span><span><span><span><span><span>
        <h1>BUY TICKETS NOW!</h1>
        </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
      </a>
    </div>  
    </aside>
  </div>
  
</section>