<section id="tallin" class="area area-4 tallin">
        <div class="row">
          <article class="large-8 columns">
              <div class="section-container responsive tabs" data-section="tabs">
              <section>
                <p class="title" data-section-title><a href="#">About</a></p>
                <div class="content" data-section-content>
                  <h1 class="centered">Tallinn</h1>
                  <ul class="small-block-grid-1">
                    <li>
                      <img src="img/tallinn_redbuses_1.jpg" title="Tallinn" />
                    </li>
                  </ul>
                  <div class="row">
                    <div class="large-12 columns"> 
                    <p>Did you know that every city has something that makes it special and unique? Especially a city with a long and impressive history like Tallinn. Our double-decker buses take you places where you otherwise wouldn't go. We have three different bus lines, a friendly and enjoyable audio guide in ten different languages, and Hop On Hop Off – if you want to get off at a stop to visit a museum, then you can hop back on the bus at the same stop afterwards and continue your tour.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                    <h2>Bus and stops</h2>
                    <p>If you're in Tallinn for the first time or you simply don't know where the museums are and how to get there, then Tallinn City Tour's Bus & Top Stops packages are an excellent solution. The Bus & Top Stops package gives you the opportunity to enjoy the sights of Tallinn from our comfortable double-decker buses. You can also visit the most memorable and interesting museums in Tallinn, which have something for everyone. The bus will take you close to the museums and sights, and pick you up from the same spot afterwards – your ticket is valid for a whole day!.</p>
                    </div>
                    <div class="large-12 columns">
                      <ul class="flags large-block-grid-8 small-block-grid-2 centered icons">
                        <li><div class="flag russia"></div><small>Russian</small></li>
                        <li><div class="flag sweden"></div><small>Swedish</small></li>
                        <li><div class="flag england"></div><small>English</small></li>
                        <li><div class="flag spain"></div><small>Spanish</small></li>
                        <li><div class="flag finland"></div><small>Finnish</small></li>
                        <li><div class="flag france"></div><small>French</small></li>
                        <li><div class="flag germany"></div><small>German</small></li>
                        <li><div class="flag italy"></div><small>Italian</small></li>
                      </ul>
                      <ul class="small-block-grid-2 centered icons">
                        <li><div class="sprite-bus"></div><small>90 hour beautiful sightseeing tour</small></li>
                        <li><div class="sprite-monument"></div><small>Spectacular views</small></li>
                        <li><div class="sprite-smartphone"></div><small>Free Wi-Fi onboard</small></li>
                        <li><div class="sprite-flag"></div><small>Commentaries in 8 languages</small></li>
                      </ul>
                    </div> 
                  </div>
                </div>
              </section>
              <section class="resellers centered">
                <p class="title" data-section-title><a href="#">Tickets</a></p>
                <div class="content" data-section-content>
                  <h2>Prices - 24 hour travel pass</h2>
                  <ul class="unstyled">
                    <li>EUR 16</li>
                    <li>Children: Children up to 7 for free when traveling with paying adult.</li>
                    <li>Age 7 to 16: EUR 13</li>
                  </ul>
                </div>
              </section>
              <section class="centered">
                <p class="title" data-section-title><a href="#">The Tour</a></p>
                <div class="content" data-section-content>
                  <h2>Use our magnifier to inspect the map!</h2>
                  <p>You can also download the full size version of the map <a href="img/tallinn-map.jpg" title="Stops">here</a> for a better view.</p>
                  <div class="magnify">
                    <div class="magnified tallinn-map"></div>
                    <img class="overview" src="img/tallinn-map.jpg" />
                  </div>
                </div>
              </section>
            </div>
          </article>
          <aside class="large-4 columns">
            <div class="widget panel">
              <header><h2>Contact</h2></header>
              <section class="centered widget-content">
                <ul class="unstyled">
                  <li>Kadaka tee 62a, 12618 Tallinn, Estonia, Hansabuss AS</li>
                  <li>info@citytour.ee</li>
                  <li>Information:+372 627 9080 (Mon-Fri 9:00-17:00)</li>
                  <li>Information outside working hours: +372 53 055 055</li>
                </ul>
              </section>
            </div>
            <div class="ticket-container">
              <a href="https://office.instantticketing.com/pit/webshop/widget?route=593&locale=en&calendarType=2&theme=red&discount=TRUE&partner=&customerData=FALSE" class="starburst" onClick="javascript:pitWidgetBootPartner('593','en','2','red','TRUE','FALSE','');">
                 <span><span><span><span><span><span><span><span><span><span><span><span><span><span><span>
                    <h1>BUY TICKETS NOW!</h1>
                 </span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
              </a>
            </div>
          </aside>  
        </div>
      </section>